﻿@model mcv_app1.Models.Deliveryman

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Deliveryman</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FIO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FIO)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.DeliverymanId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
