﻿@model IEnumerable<mcv_app1.Models.Deliveryman>

@{
    ViewBag.Title = "Index";
}

<h2>Разносчики</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FIO)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FIO)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DeliverymanId }) |
            @Html.ActionLink("Details", "Details", new { id=item.DeliverymanId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DeliverymanId })
        </td>
    </tr>
}

</table>
