﻿@model IEnumerable<mcv_app1.Models.Metrostation>

@{
    ViewBag.Title = "Index";
}

<h2>Станции метро</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MetrostationId }) |
            @Html.ActionLink("Details", "Details", new { id=item.MetrostationId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MetrostationId })
        </td>
    </tr>
}

</table>
