﻿@model mcv_app1.Models.Order

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Order</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.DeliverymanId, "Deliveryman")
        </div>
        <div class="editor-field">
            @Html.DropDownList("DeliverymanId", String.Empty)
            @Html.ValidationMessageFor(model => model.DeliverymanId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MetrostationId, "Metrostations")
        </div>
        <div class="editor-field">
            @Html.DropDownList("MetrostationId", String.Empty)
            @Html.ValidationMessageFor(model => model.MetrostationId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Type)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Type)
            @Html.ValidationMessageFor(model => model.Type)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Price)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Price)
            @Html.ValidationMessageFor(model => model.Price)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
