﻿@model mcv_app1.Models.Order

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Order</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Deliveryman.FIO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Deliveryman.FIO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Metrostations.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Metrostations.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Type)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Type)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Price)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Price)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.OrderId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
